/* Globales */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
    display: block;
}

/* Header */

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 120px;
    height: 48px;
    margin: 2.5rem 5rem;
}

/** Main **/

main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Section central */

.zonaCentral {
    display: flex;
    max-width: 66%;
    flex-direction: column;
}



textarea {
    background-color: #F3F5FC;
    color: #0A3871;
    width: 577px;
    height: 3rem;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    margin: 6rem 15rem auto;
}

/* Section Rectangulo */

.rectangulo {
    margin-top: 2.5rem;
    margin-right: 2.5rem;
    width: 400px;
    height: 944px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.muneco {

    width: 336px;
    height: 304px;
    margin: 243px 32px 0;
}

.texto {
    margin: 32px 32px 0;
}

.texto h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

.texto p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    text-align: center;
    color: #495057;
    margin-top: 1rem;
}

/* botones */

.botones {
    margin-left: 15rem;
    width: 680px;
    height: 67px;
}

button {
    background-color: #0A3871;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: 350ms;
}

button:hover {
    background-color: #D8DFE8;
    color: #0A3871;
}

/* Footer */

footer {
    margin: 2rem;
    line-height: 1.5rem;
    font-size: 1rem;
}