/* Globales */
* {
    margin: 0;
    box-sizing: border-box;
    background: #F3F5FC;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 150%;
}

body {
    height: 1025px;
    max-width: 1280px;
}

/* Header */

.logo {
    padding-top: 1rem;
    margin-left: 2rem;
    width: 10%;
}

/* Main */

main {
    display: flex;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

/* Sections */

.text-area {
    border: none;
    color: #0a3871;
    margin-top: 3.5rem;
    /* text-transform: lowercase; */
}

::placeholder { color: #0a3871; }
    .text-area:focus {
        outline: none;
    }

    /* section Mensaje */

.mensaje {
    
    background-image: url(./img/Muñeco.png);
    background-repeat: no-repeat;
    background-size: cover;
    background: white;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-top: 1.5rem;
    padding-left: 1.5rem;
    height: 55%;
}

.mensaje:focus {
    outline: none;
}

.zona-btn-copiar {
display: flex;
justify-content: center;
}

/* Buttons */

botonoes {
    display: flex;
    margin-top: 1rem;
}

button {
    width: 11rem;
    height: 2.5rem;
}

.btn-desencriptar {
    background-color: #D8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    margin-left: 1.2rem;
    transition: 1s;
}

.btn-desencriptar:hover {
    background-color: #0a3871;
    color: #000;
}

.btn-encriptar {
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #F3F5FC;
    cursor: pointer;
    transition: 1s;
}

.btn-encriptar:hover {
    background-color:#D8dfe8;
    color: #0a3871;
}

.btn-copiar {
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    align-items: center;
    margin-top: 2rem;
}

.informacion {
    color: #495057;
    font-size: .5rem;
}

/* Footer */

footer p{
    margin-left: 3rem;
    font-size:medium;
}